<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .centered-content {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container centered-content">
        <div>
            <h1>Thank you!</h1>
            <p>Your order was successfully completed.</p>
            <div class="btn-group mt-4">
                <a href="{% url 'shop' %}" class="btn btn-outline-secondary">Back To Shop</a>
                <a href="{% url 'orders' %}" class="btn btn-outline-secondary">Orders</a>
            </div>
        </div>
    </div>
</body>
</html>
