{% extends 'admin_panel/base.html' %}

{% block base %}

<div class="container mt-5">
    
    {% if messages %}
        
    {% for i in messages %}
       <h3 style="color: red;"> {{i}}</h3>
    {% endfor %}
        
 {% endif %}
    
    <!-- Form to add a new type name and active status -->
    <form id="typeForm" method="post" class="mb-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="typename" class="form-label">Type Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="isActive" class="form-label">Active Status</label>
                <select class="form-control" id="isActive" name="isActive" required>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <button type="submit" class="btn btn-primary">Add Brand</button>
            <a name="" id="" class="btn btn-primary" href="{% url 'brand' %}" role="button">back</a>
        </div>
        <div id="errorMessages" style="color: red;"></div>
    </form>

</div> 
<script>
    document.getElementById('typeForm').addEventListener('submit', function(event) {
        // Prevent form submission if there are validation errors
        event.preventDefault();

        // Get form values and trim spaces
        const name = document.getElementById('name').value.trim();
        
        // Validation variables
        let isValid = true;
        let errorMessages = [];

        // Remove leading and trailing spaces
        document.getElementById('name').value = name;
       

        // Validate name (only characters, no numbers)
        const namePattern = /^[A-Za-z\s]+$/;
        if (!namePattern.test(name)) {
            errorMessages.push('Brand name must contain only letters and spaces.');
            isValid = false;
        }

        // Check required fields
        if (!name) {
            errorMessages.push('Brand must be filled out.');
            isValid = false;
        }


        // Display error messages or submit the form
        if (isValid) {
            event.target.submit(); // Submit the form
            document.getElementById('errorMessages').innerHTML = ''; // Clear previous errors
        } else {
            document.getElementById('errorMessages').innerHTML = errorMessages.join('<br>');
        }
    });
</script>

{% endblock base %}