{% extends 'admin_panel/base.html' %}

{% block base %}
<div class="col-xxl d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-8">
        <h5 class="card-title fw-semibold mb-4">order history</h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Order Id</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Order date</h6>
                </th> 
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Shiped address</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">payment method</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Grand Total</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Order status</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Product Details</h6>
              </th>
                
              </tr>
            </thead>
            <tbody>
                
                {% for i in order %}       
              <tr>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{i.id}}</h6>
                                              
                </td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{i.order_date}}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">{{i.address_id.name}},{{i.address_id.address}}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{i.payment}}</h6>
              </td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-1">{{i.grand_total}}</h6>
            </td>
                <td>
                  
                  {% if i.status == 'success' %}
                  <h6 class="fw-semibold mb-1" style="color: green;">Delivered</h6> 
                  {% endif %}
                  {% if i.status == 'pending' %}
                  <h6 class="fw-semibold mb-1" style="color: rgb(35, 138, 222);">{{i.status}}</h6> 
                  {% endif %} 
                  {% if i.status == 'canceled' %}
                  <h6 class="fw-semibold mb-1" style="color: red;">{{i.status}}</h6> 
                  {% endif %} 
                    
                </td>
                
                <td>
                  
                  {% if i.confirm %}
                  <a href="{% url 'order_manage' i.id %}">
                    <h6 class="fw-semibold mb-1">details</h6> </a>
                    {% else %}
                    Payment Failed
                  {% endif %}
                    
                    
                </td>
              </tr>  
              {% endfor %}                     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock base %}
