{% extends 'admin_panel/base.html' %}

{% block base %}
<div class="col-xxl d-flex align-items-stretch">
    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title fw-semibold mb-4">Products:</h5>
                <a name="" id="" class="btn btn-primary mt-4 me-5" href="{% url 'product_offer' %}" role="button">Back</a>
            </div>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Name</h6></th>
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Brand</h6></th>
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Stock</h6></th>
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Price</h6></th>
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Image</h6></th>
                            
                            <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Add offer</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in page_obj %}
                        <tr>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-1">{{ i.name }}</h6></td>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-1">{{ i.brand_id.name }}</h6></td>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-1">{{ i.stock }}</h6></td>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-1">{{ i.price }}</h6></td>
                            <td class="border-bottom-0"><img src="{{ i.image.url }}" alt="Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;"></td>
                            
                            
                            <td class="border-bottom-0">
                                <a name="" id="" class="btn btn-primary" href="{% url 'add_product_offer' i.id %}" role="button">Add</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>

            <!-- Pagination controls -->
            <div class="pagination-container mt-4">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock base %}
