{% extends 'user_profile/base.html' %}


{% block base %}
<style>
    .balance-box, .add-money-box {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }
    .balance-box h3, .add-money-box h3 {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .amount-input, .add-button {
        margin: 20px auto;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <!-- Balance Amount Box -->
        <div class="col-md-5 balance-box">
            <h3>Balance Amount</h3>
            <h2>{{wallet.balance}} &nbsp;Rs</h2>
        </div>

        <!-- Spacer -->
        <div class="col-md-1"></div>

        <!-- Add Money Box -->
        <!-- <form action="" method="post">
        <div class="col-md-5 add-money-box">
            <h3>Add Money</h3>
            <div class="amount-input">
                <input type="number" class="form-control" placeholder="Amount">
            </div>
            <div class="add-button">
                <button class="btn btn-outline-dark btn-block">ADD</button>
            </div>
        </div>
        </form> -->
    </div>

    <!-- Table Section -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Transaction History</h3>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in transaction %}  
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.amount}}</td>
                        <td>{{i.balance}}</td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock base %}