
{% extends 'admin_panel/base.html' %}

{% block base %}
<div class="col-xxl d-flex align-items-stretch ms-5">
    <div class="card w-100">
      <div class="card-body ">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h5 class="card-title fw-semibold mb-4">Banners:</h5>
            
            </div>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Name</h6>
                </th>
                
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">product_id</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">banner</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Delete</h6>
                </th>
              </tr>
            </thead>
            <tbody>
                
                {% for i in obj %}
                    
                
                    
              <tr>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{i.name}}</h6>
                </td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{i.product_id.name}}</h6>
                </td>
                <td class="border-bottom-0">
                    <img src="{{i.image.url}}" alt="Image 1" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1"><a href="{% url 'deletebanner' i.id %}">Delete</a></h6>
              </td>
               
               
            </tr>  
              {% endfor %}                     
          </tbody>
          </table>
          <a name="" id="" class="btn btn-primary mt-4 me-5" href="{% url 'addbanner' %}" role="button">Add new one</a>

        </div>
      </div>
    </div>
  </div>
</div>

    
{% endblock base %}